/* ********************************

Import custom fonts 
- @import
- Google Fonts

********************************** */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave&display=swap');


/* 



TODO: 

1. Background images
2. Gradients
  - https://projects.verou.me/css3patterns/
  - https://css-pattern.com
3. Multiple Background images 
  - Layering and patterns
4. Background attachment 
5. 

1. Position
  - static 
  - absolute 
  - relative 
  - sticky
  - fixed

  parallax scrolling


*/



/* ******************************

Colors from : https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226

https://coolors.co/palettes/trending

Cool Colors:
  #001219 Dark
  #005F73
  #0A9396
  #94D2BD
  #E9D8A6 Light
Warm Colors
  #EE9B00 Light 
  #CA6702
  #BB3E03
  #AE2012
  #9B2226 Dark

TODO: 
  - Pick a color palette!
  - Copy the colors 
  - Trye these: 
    - https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429
    - https://coolors.co/palette/fffcf2-ccc5b9-403d39-252422-eb5e28
    - https://coolors.co/palette/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1
    - https://coolors.co/palette/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff
    - https://coolors.co/palette/0a0908-22333b-eae0d5-c6ac8f-5e503f
    - https://coolors.co/palette/540000-85ff9e-47ce73-0affed-0f084b-290850-420754-5b0758-310a31

********************************* */

/* Set the font family size weight and line heigth and color here!  */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.55;
  background-color: #94D2BD;
  color: #001219;
  font-weight: 200;
}

/* Set a default link style */
a {
  color: #AE2012;
  text-decoration: none;
}

/* Remove the margin on everything */
* {
  margin: 0;
}

/* Add some margin bottom on all our semantic blocks */
h1, h2, h3, p, blockquote, ul, ol { 
  margin-bottom: 1rem; 
}

/* Style the headings. */
h2, h3 {
  /* Make these headings heaviest weight, makes them standout */
  font-weight: 900 !important;
  /* Make them step back by making them transparent */
  opacity: 0.75;
  /* Nudge to the left to make people read this first */
  position: relative; 
  left: -4rem;
  width: 800px;
}

h2 {
  /* Needed to nudge this to make it look nice */
  left: 1rem; 
  text-align: left;
}



/* ************************************

Get creative with the extra divs

Use the Extra Divs!
- box-shadow
- absolute position

************************************ */

.extra1 {
  /* Use position fixed */
  position:fixed;
  /* z-index: -1; */

  left: 80%;
  top: 50px;

  width: 100px;
  height: 100px;

  background-color: #001219;

  border-radius: 50%;

  /* Stack up some box shadows */
  box-shadow: 
    0px 100px 0 #005F73,
    0px 200px 0 #0A9396,
    0px 300px 0 #94D2BD,
    0px 400px 0 #E9D8A6,
    0px 500px 0 #EE9B00,
    0px 600px 0 #CA6702,
    0px 700px 0 #BB3E03,
    0px 800px 0 #AE2012,
    0px 900px 0 #9B2226;
}


/* *******************************

Making a single page site
- min-height
- flex
- type selector

make sections take up the full screen height to create pages.

********************************** */

header, .summary, .preamble {
  /* Height 100vh */
  min-height: 100vh;
  /* Arrange content of each section with flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #94D2BD;
}

header {
  /* background-image: url(./images/pattern-1.png); */
  background-repeat: round;
  /* background-position: center; */
  /* background-size: 400px; */
}

h1 {
  color: #BB3E03;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;

  padding: 1rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  color: #0A9396;
  margin-top: -3rem;
}






/* ******************************

Summary 

********************************* */
.summary {
  background-color: #001219;
  color: #94D2BD;
}

.summary p {
  max-width: 600px;
}

.summary p:last-child {
  font-size: 3rem;
  font-weight: 100;
}

.summary a {
  text-decoration: none;

  display: inline-block;
  padding: 0.5rem 2rem;
  border: 1px solid;
  border-radius: 0.5rem;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 40px;
  background-color: #94D2BD;
  color: #001219;
}

.summary a:hover {
  background-color: #0A9396;
}






/* ******************************

Preamble 
- something > *

********************************* */

.preamble {
  background-color: #005F73;
  color: #E9D8A6;
}

.preamble > * {
  max-width: 600px;
}

.preamble h3 {
  font-size: 3rem;
  font-weight: 100;
}


/* *******************************

explanation

********************************** */

.explanation {
  background-color: #0A9396;
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E9D8A6;
}

/* Select all children of .explanation with * */
.explanation > * {
  max-width: 600px;
}

.explanation h3 {
  font-size: 3rem;
  font-weight: 100;
}





/* ***************************

participation

****************************** */

.participation {
  background-color: #E9D8A6;
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9B2226;
}

.participation > * {
  max-width: 600px;
}

.participation a {
  color: #001219;
}

.participation h3 {
  font-size: 3rem;
  font-weight: 100;
}

/* Style the hover, We'll do this for each section since the background color changes. */
.participation a:hover {
  color: #005F73;
}





/* **************************

benefits

***************************** */

.benefits {
    background-color: #EE9B00;
    padding: 4rem 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #001219;
  }
  
.benefits > * {
  max-width: 600px;
}

.benefits a {
  color: #001219;
}

.benefits h3 {
  font-size: 3rem;
  font-weight: 100;
}



/* **************************

requirements

***************************** */

.requirements {
  background-color: #CA6702;
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #001219;
}

.requirements > * {
max-width: 600px;
}

.requirements a {
color: #E9D8A6;
}

.requirements h3 {
font-size: 3rem;
font-weight: 100;
}

.requirements a:hover {
  color: #94D2BD;
}



/* **************************

footer

***************************** */

footer {
  background-color: #BB3E03;
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #001219;
}

footer > * {
  max-width: 600px;
}

footer a {
  width: 100px;
  height: 100px;
  color: #001219;
  border-radius: 50%;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 100;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  font-size: 3rem;
  font-weight: 100;
}

/* Use nth-child() to select each child by index */
footer a:nth-child(1) {
  background-color: #005F73;
}

footer a:nth-child(2) {
  background-color: #0A9396;
}


footer a:nth-child(3) {
  background-color: #94D2BD;
}

footer a:nth-child(4) {
  background-color: #E9D8A6;
}

footer a:nth-child(5) {
  background-color: #EE9B00;
}

/* footer a:hover:nth-child(1) { */
footer a:hover {
  background-color: #001219;
  color: #E9D8A6;
}



/* ******************************************

Select a Design

- Grid 
- Flex
- &

****************************************** */

.design-selection {

  background-color: #AE2012;
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #001219;

  /* Use the & selector to define nested styles */
  & h3 {
    font-size: 3rem;
    font-weight: 100;
  }

  & nav ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
  }

  & nav ul li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* Use a transparent color! */
    color: rgba(255, 255, 255, 0.27);
    font-size: 3rem;
    font-weight:900;
    /* Adjust line-height to nudeg things */
    line-height: 1.1;
  }

  & nav ul li a {
    color: #94D2BD;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
  }

  /* Use nth-child() with #n to select indexes that that are mod n */
  & nav ul li:nth-child(4n) { 
    /* L T */
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #001219;
  }

  /* Use #n+x to offset selection index */
  & nav ul li:nth-child(4n+1) { 
    /* R T */
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #005F73;
  }

  & nav ul li:nth-child(4n+2) { 
    /* R B */
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #0A9396;
  }

  & nav ul li:nth-child(4n+3) { 
    /* L B */
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #94D2BD;
    color: #00121925;
  }

  & nav ul li:nth-child(4n+3) a { 
    color: #005F73;
  }

  & nav ul li a:hover {
    color: #E9D8A6;
  }

  & nav ul li:nth-child(4n+3) a:hover { 
    color: #001219;
  }

  & nav ul li a:last-child {
    margin-top: 0.5rem;
  }
}





/* ******************************

design-archives

********************************* */

.design-archives {
  background-color: #CA6702;
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #001219;

  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  & > * {
    max-width: 600px;
  }

  & a:hover {
    color: #94D2BD;
  }


  & h3 {
    font-size: 3rem;
    font-weight: 100;
  }

  & a {
    display: block;
    padding: 1rem 1rem;
    border: 1px solid;
    margin: 0 1rem;
    border-radius: 4rem;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40px;

    color: #E9D8A6;
    background-color: #AE2012;
    width: calc(600px / 2 - 2rem);
    border: none;
  }

    & a:hover {
      background-color: #001219;
    }
  }
  




/* ************************************

zen-resources

*************************************** */

.zen-resources {
  background-color: #9B2226;
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #001219;

  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & li:nth-child(1) {
    background-color: #E9D8A6;
  }

  & li:nth-child(2) {
    background-color: #EE9B00;
  }

  & li:nth-child(3) {
    background-color: #CA6702;
  }
  & li:nth-child(4) {
    background-color: #BB3E03;
  }

  & li:nth-child(5) {
    background-color: #AE2012;
  }

  & a {
    width: 600px;
  }

  & a {
    color: #001219;
    text-decoration: none;
    padding: 2rem;
    margin: 0.5rem 0;
    display: block;
  }

  & h3 {
    font-size: 3rem;
    font-weight: 100;
  }

  & a:hover {
    background-color: #001219;
    color: #94D2BD;
  }
}


